<p-confirmDialog></p-confirmDialog>

<div class="table-header">
  <h1 class="title">Contact List</h1>

  <div class="buttons">
    <button type="button" class="btn-primary" routerLink="/activities/new">
      Add Activity
    </button>
    <button class="btn-primary" [routerLink]="['../', 'details', 'new']">
      Add Contact
    </button>
  </div>
</div>

<p-table
  #dt
  [columns]="cols"
  [value]="contacts"
  [paginator]="true"
  [rows]="10"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
  <ng-template pTemplate="caption">
    <div style="text-align: left">
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Search"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width: auto"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let col of cols"
        pResizableColumn
        [pSortableColumn]="col.field"
      >
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        ></p-sortIcon>
      </th>

      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-contact let-idx="rowIndex">
    <tr>
      <td *ngFor="let col of cols" class="ui-resizable-column">
        <div *ngIf="col.field != 'contactOwner'; else notContactOwner">
          {{ contact[col.field] }}
        </div>
        <ng-template #notContactOwner>
          {{ getContactFullName(contact[col.field]) }}
        </ng-template>
      </td>
      <td>
        <div class="buttons">
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="ui-button-primary"
            [routerLink]="['../', 'details', contact.id, 'profile']"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="ui-button-danger"
            (click)="onDeleteContact(contact.id)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
